html{
    background-color: black;
    box-sizing: border-box;
}

.header{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 2rem 2rem 0rem 0rem;
}

.header-border{
    border: 1px solid #E7E7EB;
    width: 6rem;
    margin: 1.5rem auto;
}

.title{
    text-align: center;
    color: #686D72;
    padding: 1rem 0.5rem;
    font-size: x-large;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #E7E7EB;
}

.refer-text{
    color: #686D72;
    font-size: large;
}

.share-btn{
    background-color: #E7E7EB;
    color: #686D72;
    border-radius: 0.5rem;
    padding: 0.7rem 0.7rem;
    border: solid #D1D5DB;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.selected-icon{
    margin-right: 0.3rem;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.user-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.user-info{
    padding-left: 1rem;
}

.name{
    font-size: large;
}

.selected-contacts-heading{
    color: #6B7280;
}
.refer-section{
    margin: 0rem 2rem
}
.phone-num{
    color: #6B7280;
}

.submit-btn{
    background-color: #0A966A;
    color: white;
    border: solid #0A966A;
    border-radius: 0.7rem;
    font-size: medium;
    margin: 1.5rem auto ;
    padding: 1rem 1.5rem;
    width: 90%;
}

.btn-container{
    border-top: 1px solid #E7E7EB;
    text-align: center;
}